@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

h1{
  margin: 0;
}

div{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dFlex{
  display: flex;
}
